.navbar {
    background: rgb(52, 152, 219);
    background: -moz-linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 0.5) 100%);
    background: -webkit-linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 0.5) 100%);
    background: linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3498db", endColorstr="#00efff", GradientType=1);
    color: #fff;
    padding: 1px 0 ;
    text-align: right;
    clear: both;
    position: relative;
}
.navbar a{
    color: #fff;
}

.logo h2{ font-size: 20px;}
.logo a {text-decoration: none}
@media screen and (min-width: 670px) {
    .logo{position: absolute; top: 20px; }
    }