* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

ul li {
  list-style: none;
}

a {
  color: #2980b9
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
  color: #535c69;
  padding-bottom: 40px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px
}
/* ------------------------ header */
.header {
  padding-top: 1px;
  padding-bottom: 150px;
  background-image: url('./components/background-home.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-top: 1px;
  text-align: center;
  color: #fff
}
.header h1{
  margin-top: 100px
}
.header .button{
  margin-top: 40px
}
/* ------------------------ forms */

.input {
  border-radius: 4px;
  border: none;
  outline: none;
  min-height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  display: block;
  color: #2980b9;
  
}

.login .input {
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 0 5px;
  display: inline-block;
  min-height: 10px;
  width: auto;
  color: #2980b9;
  margin-right: 10px; 
   height: 37px;
}

.message{ color: #e67e22; text-transform: lowercase; font-size: 14px}

.button {
  background: rgb(52, 152, 219);
  background: -moz-linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 1) 100%);
  background: linear-gradient(90deg, rgba(52, 152, 219, 1) 0%, rgba(0, 239, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3498db", endColorstr="#00efff", GradientType=1);
  color: #fff;
  padding: 10px 0;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none
}

.login .button {
  background: #fff;
  color: #2980b9;
  font-size: 14px
}

.container-signup {
  text-align: center
}

#signUpForm{
  text-align: center;
  padding: 20px;
  width:100%;
  max-width: 300px ;
  margin: 0 auto;
}
.createEventContainer, .createTicketContainer{
  max-width: 600px;
  margin: 0 auto;
}
#signUpForm form, #createEvent, #createTicket{
  margin-top: 20px
}
#signUpForm form .input, #createEvent .input, #createTicket .input{
  width: 100%;
  margin: 10px auto;
  height: 50px;
}

/* ----------------- EventsList */
.eventList{
  margin-top: 30px;
  margin-bottom: 30px;
}

.eventList li {
  background: #fff;
  border-left: 4px solid #3498db ;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
}

.eventItem {
  clear: both;
  padding-top: 1px;padding-bottom: 1px
}

.eventItem .eventImg img{
  text-align: center; 
max-width: 100%;
}

.button.next{
  float: right;
}
.button.prev {float: left;}

@media screen and (min-width: 670px) {
  .eventItem .eventImg{
    float: left;
    margin-right: 30px;
    max-width: 50%;
  }

.eventItem .eventDetail {float: left; max-width: 35%;}
}


.itemTitle{font-weight: bold; color: #2980b9; font-size: 20px; margin-bottom: 20px;}

.eventList li .eventItem .eventImg {
  float: left;
  height: 100px;
  width: 100px;

  margin-right: 30px;
}
.eventList li .eventItem .eventImg img{
  height: 100px;
  width: 100px;

}
.eventList li .eventItem .eventDetail{
  float: left;
  max-width: 50%;
}

/*--------------------- ticket item */

.ticketItem{
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bdc3c7;
}

.riskText{color: #3498db; font-weight: bold; font-size: 24px; margin-bottom: 20px}

.ticketImage{margin-bottom:20px}

.clear{clear: both;}

.commentContainer{
  background: #fff;
  border-radius: 4px;
  color: #3498db;
  padding: 20px;
  max-width: 600px;
  margin: 10px auto
}
.commentContainer h4{ text-align: right}
.commentFormContainer{
  
  max-width: 600px;
  margin: 30px auto
}
.commentFormContainer h4{color: #3498db;}
#commentForm textarea.input{
  min-height: 100px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 15px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}